@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {  
    --font-outfit: "outfit", sans-serif;
    --color-accent: #0B3D91;
    --color-primary-text: #1B1F28;
    --color-background: #FAFCFF;
    --color-background-gradient: #0C44A129;
    --color-background-card-primary: #25467E17;
    --color-background-card-secondary: #FFFFFF;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
